:root{
    --color-x: #ffdddd;
    --color-o: #d8d7ff;
    --l: 0.6rem;
    --b: 0.3rem
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Chakra Petch", Arial, sans-serif;
}

#start-screen{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.title{
    font-size: 5rem;
}

.p1{
    margin-right: 5rem;
}

.p2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5rem;
}

.players{
    margin-top: 2rem;
    display: flex;
    align-items:start;
}

.select-type{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    border: solid white 0.1rem;
    border-radius: 0.2rem;
    padding: 0.4rem;
    transition: 1s;
}

.btn:hover{
    background-color: white;
    color: black;
}

.start-btn{
    text-align: center;
    width: 50%;
    margin-top: 3rem;
    align-self: center;
}

.diff{
    margin-top: 1rem;
}

#player1-human{
    background-color: white;
    color: black;
}

#board{
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
}

.cell{
    filter: drop-shadow(0 0 0.9rem white);
    border: solid white 0.2rem;
    height: 10rem;
    width: 10rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cell-0,
#cell-1,
#cell-2{
    border-top: none;
}

#cell-0,
#cell-3,
#cell-6{
    border-left: none;
}

#cell-2,
#cell-5,
#cell-8{
    border-right: none;
}

#cell-6,
#cell-7,
#cell-8{
    border-bottom: none;
}

dialog::backdrop{
    backdrop-filter: blur(0.2rem);
}

dialog{
    font-size: 4rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 0.5rem;
    height: 20%;
    width: 40%;
    padding: 1rem;
}

.announce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.announce .btn{
    border: solid black 0.2rem;
    font-size: 2rem;
    font-weight: 700;
}

.X{
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color-x) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2)),
	linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color-x) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2), transparent calc(50% + var(--l) / 2));
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
    filter: drop-shadow(0 0 0.4rem red) blur(0.5px);
}

.O{
    background: radial-gradient(circle, transparent calc(50% - var(--b)), var(--color-o) calc(50% - var(--b)) calc(50% + var(--b)), transparent calc(50% + var(--b)));
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0 0 1rem blue) blur(0.5px);
}

#score-board{
    color: white;
    font-size: 3rem;
}

#score{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

.label{
    width: 8rem;
    height: 8rem;
    margin: 0 2rem;
}

.x_label_border{
    border-bottom: solid var(--color-x) 0.4rem;
}

.o_label_border{
    border-bottom: solid var(--color-o) 0.4rem;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}